<section>
  <div class="container col-xxl-12 px-1 py-5" bis_skin_checked="1">
    <div class="row flex-lg-row-reverse align-items-center g-1 py-5" bis_skin_checked="1">
      <div class="col-12 col-sm-12 col-md-12 col-lg-8" bis_skin_checked="1"> 
        <img src="../../../assets/images/Poza_profil-removebg-preview (1).png" class="d-block mx-lg-auto img-fluid w-60" alt="Profile Picture" loading="lazy"> 
      </div>
      <div class="col-lg-4" bis_skin_checked="1">
        <h1 class="display-5 fw-bold lh-1 mb-3">Hello, I'm Rares, passionate Computer Science student.</h1>
        <p class="lead" style="text-align: justify;">Future Software Engineer and developer based in Bucharest. Eager to become a better coder day by day with personal and professional projects.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" bis_skin_checked="1">
          <button (click)="scrollToContact()" mat-flat-button color="primary">Hire Me</button>
          <button [routerLink]="['/projects']" mat-stroked-button color="primary">My Work</button>
        </div>
      </div>
      <div class="py-1">
        <p class="lead"> Follow me on: </p>
        <div class="d-flex">
        <a class="btn btn-primary " style="background-color: #4b4cac;" href="https://www.instagram.com/rares_igi" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-instagram"></i>
        </a>
        <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #4b4cac;" href="https://www.linkedin.com/in/raresandrei-igescu" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-linkedin"></i>
        </a>
        <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #4b4cac;" href="https://github.com/RaresIgescu" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-github"></i>
        </a>
        <a data-mdb-ripple-init class="btn btn-primary mx-2" style="background-color: #4b4cac;" href="https://www.facebook.com/YGERA" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</div>

</section>


