<app-header></app-header>

<div class="container my-5">
  <div class="row align-items-start">
    <div class="md-5">
      <section>
        <h3 class="fw-bold mb-3">Being a Support Engineer at Orange Services
        </h3>
        <p style="text-align: justify;" class="fs-5">
Since September 15th, I have been working as a Support Engineer at Orange Services in Bucharest — my first full-time position. In this role, I apply ITIL principles, perform log analysis, and contribute to developing monitoring and automation solutions that enhance system reliability and efficiency.        </p>
        <p style="text-align: justify;" class="fs-5 mb-5">
I’m truly grateful to my colleagues, who have been incredibly supportive since my first day, always ready to help with any questions or curiosities I had. I also participated in OpsCon 2025, an internal technical conference held in Bucharest that focused on the company’s future and the implementation of innovative ideas in our work. I was particularly interested in the discussions about RPA integration, as it closely relates to my studies at university.        </p>
      </section>
    </div>


    <div class="row">
        <div class="col text-center">
        <img
            src="../../../assets/images/OrangeRPA.jpg"
            alt="Lenovo Workshop"
            class="img-fluid rounded shadow-sm mt-3"
            style="max-width: 80%;"
        />
        <p class="mt-2 text-muted">OpsCon 2025</p>
        </div>
    </div>
  </div>
</div>

<app-footer></app-footer>