<app-header></app-header>

<div class="container">
    <section>
        <h3>
            Being a Working Student at Lenovo
        </h3>
        <p style="text-align: justify;"> 
            Between April 1 and May 6, 2025, I participated in Lenovo’s Frontend Workshop, where we explored advanced techniques for building modern web applications. The primary framework used was Angular, and we also implemented a NoSQL database using Firebase. While the workshop itself was not particularly challenging, it significantly strengthened my web development skills and deepened my curiosity and interest in the field. 
        </p>
        <iframe src="../../../assets/images/LenvoCertf.pdf" width="50%" height="600px" style="border: none;"> </iframe>
    </section>
</div>
<app-footer></app-footer>