<app-header></app-header>

<div class="container my-5">
  <div class="row align-items-start">
    <div class="col-md-12 col-sm-12 col-lg-6">
      <section>
        <h3 class="fw-bold mb-3">Being a Working Student at Lenovo</h3>
        <p style="text-align: justify;" class="fs-5">
          Between April 1 and May 6, 2025, I participated in Lenovo’s Frontend Workshop, where we explored advanced techniques for building modern web applications. The primary framework used was Angular, and we also implemented a NoSQL database using Firebase. While the workshop itself was not particularly challenging, it significantly strengthened my web development skills and deepened my curiosity and interest in the field.
        </p>
        <p style="text-align: justify;" class="fs-5">
           During this experience, I had the opportunity to meet many experienced engineers and software developers who answered my questions about web development and offered valuable advice for my journey toward becoming a software engineer. I am truly grateful for the opportunity to have participated in this workshop and would highly recommend that any Computer Science student apply to similar programs to gain valuable hands-on experience and industry insight.
        </p>
      </section>
    </div>

    <div class="col-md-12 col-sm-12 col-lg-6 text-center">
      <iframe
        src="../../../assets/images/LenvoCertf.pdf"
        class="w-100 shadow-sm rounded"
        height="500px"
        style="border: none;"
      ></iframe>
    </div>

    <div class="row">
        <div class="col text-center">
        <img
            src="../../../assets/images/Lenovo_Workshop.jpg"
            alt="Lenovo Workshop"
            class="img-fluid rounded shadow-sm mt-3"
            style="max-width: 80%;"
        />
        <p class="mt-2 text-muted">Our Frontend Workshop team at Lenovo Romania</p>
        </div>
    </div>
  </div>
</div>


<app-footer></app-footer>