<section class="mb-5" style="text-align: center; padding: 2rem;">
  <h1 class="mb-4 custom-underline">My Work</h1>

  <div style="display: flex; justify-content: center; gap: 10rem; flex-wrap: wrap;">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/lenovo-logo.png" class="card-img-top" style="height: 18rem;" alt="Lenovo Logo">
      <div class="card-body">
        <h5 class="card-title">Lenovo <br> </h5>
        <br>
        <p class="card-text">Working Student</p>
        <button (click)="goToLenovo()" mat-flat-button>Read More</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/logo.png" class="card-img-top p-1" style="height: 18rem;" alt="Logo">
      <div class="card-body">
        <h5 class="card-title">Serviciul de Telecomuncatii Speciale</h5>
        <p class="card-text">Engineer Intern</p>
        <button (click)="goToSTS()" mat-flat-button>Read More</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/Orange_Rio-Logo.wine.svg" class="card-img-top p-1" style="border-radius: 50%; height: 18rem;" alt="Logo">
      <div class="card-body">
        <h5 class="card-title">Orange Services</h5>
        <br />
        <p class="card-text">Technical Support Engineer</p>
        <button (click)="goToOrange()" mat-flat-button>Read More</button>
      </div>
    </div>
  </div>
</section>
<hr class="mt-5"/>
