<app-header></app-header>

<div class="container my-5">
  <div class="row align-items-start">
    <div class="md-5">
      <section>
        <h3 class="fw-bold mb-3">Being an Intern at the Special Telecommunications Service</h3>
        <p style="text-align: justify;" class="fs-5">
            Between July 14th and August 20th, I completed an internship at the Special Telecommunications Service. I had been accepted for this position a few months prior, after successfully passing a rigorous recruitment process. Like other students who were not originally from Bucharest, I was assigned to complete the internship in my home county. My work covered a wide range of areas, from configuring network equipment such as Cisco and Juniper switches to conducting on-site testing and collaborating closely with my more experienced colleagues. I also gained foundational theoretical knowledge in telecommunications, learning about different types of antennas and transmission media, understanding the components of a power station, and visiting an antenna site to see real-world applications and explanations.
        <p style="text-align: justify;" class="fs-5 mb-5">
            I felt genuinely welcomed by all my colleagues, and throughout my time there, I never felt like just a student — instead, I was treated as a new team member eager to learn from more experienced professionals. Although my stay was relatively short, I developed a strong connection with everyone and would be more than happy to return and work there again in the future.        </p>
      </section>
    </div>


    <div class="row">
        <div class="col text-center">
        <iframe
        src="../../../assets/images/STSCert.pdf"
        class="w-50 shadow-sm rounded"
        height="950px"
        style="border: none;"
      ></iframe>
        <p class="mt-2 text-muted">My Certificate</p>
        </div>
    </div>
  </div>
</div>


<app-footer></app-footer>