.mask {
  background: linear-gradient(to bottom, rgb(232, 232, 250), #ffffff);
  position: relative; 
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-hero {
  background-size: cover;
  background-position: center;
  overflow: visible; 
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-hero {
    min-height: 80vh;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .custom-hero {
    min-height: 85vh;
  }
}

