<header>
  <div class="d-flex align-items-center bg-image custom-hero">
    <div class="mask w-100 h-100" style="background-color: #ece7e7f8;">
      <div class="container mt-5">
        <div class="row g-5">
          <div class="col-12 col-xxl-6 col-xl-6 col-lg-7 col-md-10 col-sm-10 text-center">
            <img src="../../assets/images/Adobe Express - file.png" 
                 class="img-fluid"
                 alt="Profile Picture" 
                 loading="lazy"
                 style="max-width: 100%;">

          </div>
          <div class="col-12 col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 text-start">
            <h1 class="mb-4 h2 text-dark">
              Frontend Developer, Student and Future Software Engineer in Bucharest.
            </h1>
            <h4 class="my-3 lead text-dark">
              Passionate about technology since high school, I’m pursuing my dream of becoming a developer through university studies and hands-on professional experience, including internships and student workshops. My journey has covered both backend and frontend development, fueled by a strong curiosity about technical devices and how they work.
            </h4>
            <button class="mt-2" mat-fab extended>
              <mat-icon>favorite</mat-icon>
              Say Hi!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</header>


