<header>
  <div class="d-flex align-items-center bg-image custom-hero" style="min-height: 64vh; height: auto;">
    <div class="mask w-100 h-100 py-5" style="background-color: rgba(236, 231, 231, 0.95); display: flex; align-items: center;">
      <div class="container">
        <div class="row g-1 align-items-center">

          <div class="col-12 col-lg-6 col-md-8 mx-auto text-center">
            <img src="../../../assets/images/PozaScaun2.jpg" 
                 class="img-fluid shadow"
                 alt="Profile Picture" 
                 loading="lazy"
                 style="max-width: 80%; border-radius: 12px;">
          </div>

          <div class="col-12 col-lg-5 text-center text-lg-start">
            <h1 class="mb-4 mt-2 h2 text-dark" style="text-align: inherit;">
              Frontend Developer, Student and Future Software Engineer in Bucharest.
            </h1>
            <h4 class="my-1 lead text-dark" style="text-align: inherit;">
              Passionated about technology since high school, I’m pursuing my dream of becoming a developer through university studies and hands-on professional experience...
            </h4>
            <button (click)="scrollToContact()" class="mt-4" mat-fab extended>
              <mat-icon>favorite</mat-icon>
              Say Hi!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-0" />
</header>


