<app-header></app-header>

<div class="container my-5">
  <h2 class="fs-b">Resume</h2>

  <div class="row d-flex flex-wrap align-items-start">
    <div class="col-lg-7 col-md-12 mb-4">
        <h3 class="text-decoration-underline"> Experience </h3>

        <h4> Support Engineer - Orange Services </h4>
        <p style="text-align: justify; text-indent: 2rem;">
            I coordinate IT operational processes within the Shared Services & Platform Operations (SSPO) department, ensuring efficient management of incidents and requests, effective communication between technical teams and clients, thorough process documentation, and continuous improvement of Orange’s service quality.
        </p>

        <h4> Engineer Intern - Special Telecommunacations Service </h4>
        <p style="text-align: justify; text-indent: 2rem;">
            I gained hands-on experience with network configuration and communication systems. I participated in the installation, setup, and testing of communication equipment and internal network channels between regional operators. My tasks included configuring network devices, VLANs, loopback interfaces, OSPF protocols, and encrypted tunnels. I worked with IP addressing, subnetting, and bit-level operations to ensure optimal network performance. Additionally, I analyzed signal coverage tests to determine the best mobile operator and managed databases used for storing emergency call data within the 112 service.
        </p>
        
        <h3 class="text-decoration-underline"> Education </h3>

        <h4> Faculty of Mathematics and Computer Science </h4>
            
        <h4> "Mihail Kogalniceanu" Theoretical HighSchool </h4>

        
     </div>

    <div class="col-lg-5 col-md-12 text-center">
      <iframe
        src="../../../assets/images/Resume.pdf"
        class="w-100 shadow-sm rounded"
        height="800px"
        style="border: none;"
      ></iframe>
    </div>
  </div>
</div>


<app-footer></app-footer>