<section>
  <div class="container col-xxl-8 px-4 py-5" bis_skin_checked="1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" bis_skin_checked="1">
      <div class="col-12 col-sm 7 col-lg-7" bis_skin_checked="1"> 
        <img src="../../assets/images/Adobe Express - file.png" class="d-block mx-lg-auto img-fluid w-100" alt="Profile Picture" width="1000" height="1000" loading="lazy"> 
      </div>
      <div class="col-lg-5" bis_skin_checked="1">
        <h1 class="display-5 fw-bold lh-1 mb-3">Hello, I'm Rares, passionate Computer Science student.</h1>
        <p class="lead">Future Software Engineer and developer based in Bucharest. Eager to become a better coder day by day with personal and professional projects.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" bis_skin_checked="1">
          <button mat-flat-button color="primary">Hire Me</button>
          <button mat-stroked-button color="primary">My Work</button>
        </div>
      </div>
    </div>
  </div>
</section>


