<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<section>

<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Centered navbar">
  <div class="container-fluid justify-content-end">
    <div class="d-flex justify-content-evenly align-items-center w-100 mx-5 my-3 gap-4 flex-wrap">
      <a class="nav-link active fs-5 fw-semibold" href="#">Home</a>
      <a class="nav-link active fs-5 fw-semibold" href="#">Projects</a>
      <span class="navbar-brand fs-3 mx-3">Igescu Rares-Andrei</span>
      <a class="nav-link active fs-5 fw-semibold" href="#">Resume</a>
      <a class="nav-link active fs-5 fw-semibold" href="#">Contact</a>
    </div>
  </div>
</nav>
</section>


<section>

  <div class="container col-xxl-8 px-4 py-5" bis_skin_checked="1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" bis_skin_checked="1">
      <div class="col-10 col-sm-8 col-lg-6" bis_skin_checked="1"> 
        <img src="assets/images/WhatsApp Image 2025-07-29 at 19.01.54_c893101c.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="500" loading="lazy"> 
      </div>
      <div class="col-lg-6" bis_skin_checked="1">
        <h1 class="display-5 fw-bold lh-1 mb-3">Hello, I'm Rares, passionate Computer Science student.</h1>
        <p class="lead">Future Software Engineer and developer based in Bucharest. Eager to become a better coder day by day with personal and professional projects.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" bis_skin_checked="1">
          <button mat-flat-button color="primary">Hire Me</button>
          <button mat-stroked-button color="primary">My Work</button>
          
        </div>
      </div>
    </div>
  </div>
  <hr />

</section>

</body>
</html>

