<section class="py-5 text-center container"> 
    <div class="row py-lg-5" bis_skin_checked="1"> 
        <div class="col-lg-6 col-md-8 mx-auto" bis_skin_checked="1"> 
            <h1 class="fw-light">Personal Projects</h1> 
            <p class="lead text-body-secondary">
                These projects reflect my work throughout my academic, professional, and personal journey. All of them are available on GitHub, and I am always open to discussing them further.
            </p> 
            <button (click)="goToExternal()" mat-flat-button color="primary" class="mx-2">See my GitHub</button>
            <button (click)="goToHomeSection('contact')" mat-stroked-button color="primary">Arrange a meeting</button>
        </div> 
    </div> 
</section>